.container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  position: absolute;
  height: 100%;
  max-width: 100%;
  color: whitesmoke;
}

h1 {
  align-self: center;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  color: #c26c62;
}

.container-row {
  display: flex;
  flex-direction: row;
  height: 80%;
  padding-top: 20px;
}

.folder-structure {
  min-width: 300px;
  margin-bottom: 0px;
  color: whitesmoke;
  padding: 10px;
  overflow-y: auto;
}


.parent-category-body{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.category-form-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.select-category-scroll{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height:80px;
}

.category-form-body{
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 241, 241);
  padding:50px;
  border-radius: 20px;
  justify-content: center;
  width: 22em;
}


.category-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-row:hover {
  background-color: #37373d;
  cursor: pointer;
  color: #bb9d16;
}

.lookup {
  margin-left: 10px;
}

.lookup-action {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
  justify-content: flex-end;
}

.lookup-delete:hover {
  color: #e64a19;
}

.lookup-edit:hover {
  color: #007acc;
}

input {
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  background-color: #37373d;
  color: whitesmoke;
  outline: none;
  border-radius: 10px;
}

.add-category {
  margin-top: 30px;
  background-color: #007acc;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.add-category:hover {
  background-color: #0e87d8;
}

.header-container {
  padding: 20px;
  height: 10%;
  background-color: #302f2f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.add-category-button {
  background-color: #007acc;
  width:auto;
  align-self: center;
  padding: 15px;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  cursor: pointer;
}

.add-category-button:hover {
  background-color: #0485db;
}

.form-category-add{
  background-color: #007acc;
  align-self: center;
  max-width: 150px;
  padding: 15px;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  cursor: pointer;
  justify-self: center;
  margin-top: 20px;
}
.form-category-cancel{
  background-color: #e64a19;
  align-self: center;
  max-width: 150px;
  padding: 15px;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  cursor: pointer;
  justify-self: center;
  margin-top: 20px;
}

.form-category-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 100%;
}

.form-category-button:hover {
  background-color: #0485db;
}

.add-news-button:hover {
  background-color: rgb(3, 145, 3);
}

.add-news-button {
  background-color: green;
  align-self: center;
  padding: 15px;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  margin-left: 30px;
  cursor: pointer;
}

.arrow{
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.arrow:hover{
  background-color: #c5c4c4;
}

.choose-categories {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 70px;
  border-radius: 15px;
}

.selected-category {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
  color: #007acc;
}

.map-head {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  align-self: flex-start;
  padding-top: 10px;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3c3c3c;
  padding: 20px;
  border-radius: 20px;
}

.map-subcategories {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 5px;
}

.news-container {
  background-color: #3c3c3c;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  margin-top: 30px;
  max-height: 150px;
}

.news-container:hover {
  background-color: #4e4e4e;
  cursor: pointer;
}

.news-row {
  display: flex;
  flex-direction: row;
}

.news-body {
  display: flex;
  flex-direction: column;
}

.news-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.news-author {
  color: #929292;
  margin-top: 10px;
}

.news-description {
  margin-top: 10px;
  max-height: 80px;
  overflow-y: auto;
}

.news-image {
  padding: 0px;
  margin-top: 10px;
  margin-left: 30px;
  border: 10px;
  border-radius: 10px;
}

.all-news {
  overflow-y: auto;
  margin-top: 20px;
  padding: 20px;
}

.subcategory {
  margin-left: 50px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #3c3c3c;
  border-radius: 10px;
  background-color: #3c3c3c;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3c3c3c;
  background-color: #1e1e1e;
}
