.container{
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

h1{
  align-self: center;
  color: #fff;
}

.container-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.folder-structure{
  min-width: 300px;
  min-height: 200px;
  background-color: #3c3c3c;
  color: whitesmoke;
  padding: 10px;
}

.category-container{
  min-width: 200px;
  min-height: 200px;
  background-color: blue;
}

.news-container{
  min-width: 200px;
  min-height: 200px;
  background-color: violet;
}

.category-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-row:hover{
  background-color: #37373d;
  cursor: pointer;
}

.lookup{
  margin-left: 10px;
}

.news-row{
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}

.news-row:hover{
  background-color: #37373d;
  cursor: pointer;
}