.container{
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

h1{
  align-self: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 70px;
}

h2{
  color: #c26c62;
}

.container-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.folder-structure{
  min-width: 300px;
  max-height: 500px;
  background-color: #3c3c3c;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px; 
}

.category-container{
  min-width: 200px;
  min-height: 200px;
  background-color: blue;
}

.news-container{
  min-width: 200px;
  min-height: 200px;
  background-color: violet;
}

.category-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-row:hover{
  background-color: #37373d;
  cursor: pointer;
  color: #bb9d16;
}

.lookup{
  margin-left: 10px;
}


.news-row{
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}

.news-row:hover{
  background-color: #37373d;
  cursor: pointer;
  color: #ad8f07;
}

.category-scroll{
  overflow-y: auto;
  height: 80%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #3c3c3c;
  border-radius: 10px;
  background-color: #3c3c3c;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #3c3c3c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3c3c3c;
  background-color: #303035;
}